/output.csv
/pywikibot.lwp
/cache.csv
/throttle.ctrl
/apicache-py3
/apicache
*.pyc
*.log
*.log.1
*.log.2
*.lwp
*.csv
/__pycache__
/bot_password
/catmandu.log
/debug.csv
/non_deprecated_items.json
/occupations.json
/places.json
/languages.json
/field_of_work_and_occupation.json
/jazyky.csv
/test.csv
